.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  border: 1px solid #252728;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  /* background-color: #af9974; */
}

.formLabel {
  display: block;
}

.formField {
  width: 400px;
  color: #e2e2e2;
  background-color: #7d7757;
  outline: transparent;
  border: 1px solid #252728;
  border-radius: 4px;
  padding: 6px;
}

.formFieldWarning {
  border-color: red;
}

.formBtn {
  text-transform: uppercase;
  color: #e2e2e2;
  background-color: #a30039;
  border: 1px solid #252728;
  border-radius: 4px;
  padding: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover,
.formBtn:focus {
  background-color: #c50045;
}

.formBtn:active {
  background-color: #970035;
}

.formBtn:not(:last-child) {
  margin-right: 10px;
}

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
}

.warning {
  font-size: 12px;
  color: red;
}
