.navList {
  display: flex;
  gap: 12px;
}

.navLink {
  padding: 2px 4px;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover {
  transform: scale(1.1);
  background-color: #a30039;
}

.active {
  background-color: #a30039;
  transform: scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
