.contactList {
  background-color: #af9974;
  width: 500px;
  max-height: 300px;
  padding: 10px;
  border: 1px solid #252728;
  border-radius: 4px;
  overflow: auto;
}

.contactListItem {
  width: 100%;
}

.contactListItem:not(:last-child) {
  margin-bottom: 12px;
}
