.userMenuWrapper {
  display: flex;
  gap: 12px;
}

.userMenuGreating {
  text-transform: uppercase;
}

.username {
  color: #a30039;
}

.logOutBtn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  color: #e2e2e2;
  background-color: #a30039;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logOutBtn:hover,
.logOutBtn:focus {
  background-color: #c50045;
}

.logOutBtn:active {
  background-color: #970035;
}
